<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/abni.jpg" alt="apip kurniawan" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Apip Kurniawan</h1>
            <p class="lead">Programmer | Youtuber</p>
        </div>
    </div>
</div>